.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  row-gap: 2.4rem;
}

.formContainer,
.TicketContainer label {
  font-size: 1.6rem;
  font-weight: 500;
}

.formInput {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--color-input);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.formInput input::placeholder {
  color: var(--text-dark);
}

.formInput *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.TicketContainer {
  margin-top: 2rem;
}
